<div [class.container]="navbarOpen" style="margin-bottom: 70px">
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <h3 class="navbar-brand">
      Bitninja projectwork
    </h3>

    <button class="navbar-toggler" type="button"
            (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse"
         [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="/bejegyzesek" class="nav-link" href="#">Bejegyzések</a>
        </li>

        <li class="nav-item">
          <a routerLink="/post" class="nav-link" href="#">Új bejegyzés</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
